{% extends "prismic_app/main.html" %}
{% load prismic_tags %}
{% block id %}job{% endblock %}
{% block content %}


<section id="page-header">

  <div style="background-image: url({% get_image main "article.image" %})">
    <div>
      <h1>{% get_text job "job-offer.name" %}</h1>
    </div>
  </div>

</section>

<section id="page-body">
  <h2>About you</h2>

  {% get_html job "job-offer.profile" %}

  <h2>Your responsibilities</h2>

  {% get_html job "job-offer.job_description" %}
</section>

{% endblock %}
