{% extends "prismic_app/main.html" %}
{% load prismic_tags %}
{% block id %}product{% endblock %}
{% block content %}

  <section id="detail">

    <div>

      <img src="{% get_image product "product.image" %}"/>

      <h4>
        <strong>{% get_text product "product.name" %}</strong>
        <em>${% get_number product "product.price" "%.2f" %}</em>
      </h4>

      <h2>
        {{ summary|default:"Product" }}
      </h2>

      {% get_html product "product.description" %}

      <p>
        <a href="/products/by-flavour?flavour={% get_text product "product.flavour" %}">
          <strong class="color" style="background: {{ color }}">{{ color }}</strong>
        </a>
      </p>

    </div>

    <p>
      <a href="{% url "prismic:products" %}">Browse all our products</a>
    </p>

  </section>

  {% if author and quote %}
    <section id="quote">
      <blockquote>{{ quote }} <strong>said {{ author }}</strong></blockquote>
    </section>
  {% endif %}

  {% if related %}
      <section id="related" class="products">

        <h2>You might like these as well</h2> 

        <ul>
          {% for r in related %}
            <li data-category="@product.tags.filter(Application.ProductCategories.contains).headOption">
              <a href="{% url "prismic:product" id=r.id slug=r.slug %}">
                <img src="{% get_image r "product.image" "icon" %}">
                <span>{% get_text r "product.name" %}</span>
                <em>${% get_number r "product.price" "%.2f" %}</em>
              </a>
            </li>
            {% endfor %}
        </ul>

      </section>
    {% endif %}

{% endblock %}
